@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
}

nav {
    height: 76px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 65px;
    padding-left: 35px;
    padding-right: 35px;
}

.burger-image {
    height: 30px;
    width: 20px;
 }

 li {
     list-style-type: none;
     padding-top: 20px;
 }

.logo {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    color: black;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    width: 100%;
}

.hero-image {
    width: 75%;
}
footer {
    background-color: black;
    text-align: center;
    padding: 20px;
    line-height: 3rem;
}
.text-white {
    color: white;
}
.copyright {
    color: gray;
}
.fa-facebook {
    color: #FFF;
    padding: 10px;
}
.fa-twitter {
    color: #FFF;
    padding: 10px;
}
.fa-instagram {
    color: #FFF;
    padding: 10px;
}
.fa-linkedin {
    color: #FFF;
    padding: 10px;
 }